.search {
   &__form {
     display: flex;
     flex-direction: column;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 83.5%;
     margin-left: auto;
     margin-right: auto;
   }

  &__label {
    font-size: 26px;
    letter-spacing: 0.6px;
    font-weight: 300;
    color: $white;
  }

  &__input {
    border-bottom: 1px solid $white;
    height: 50px;
    font-size: 22px;
    margin-top: 0.5rem;
    background: transparent;
    color: $white;
    font-weight: 300;
  }
}
