html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

input {
  // disable Safari input style override
  -webkit-appearance: none;
}

input,
textarea {
  outline: 0;
  padding: 0;
  border: none;
}

.overflow-hidden {
  overflow: hidden;
}
